---
http_interactions:
- request:
    method: post
    uri: https://android.googleapis.com/gcm/send
    body:
      encoding: UTF-8
      string: '{"registration_ids":["devicetoken"],"collapse_key":"x","time_to_live":86400,"data":{"test":"test"}}'
    headers:
      Authorization:
      - key=apikey
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Unauthorized
    headers:
      Retry-After:
      - 120
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        <HTML>
        <HEAD>
        <TITLE>Unauthorized</TITLE>
        </HEAD>
        <BODY BGCOLOR="#FFFFFF" TEXT="#000000">
        <H1>Unauthorized</H1>
        <H2>Error 401</H2>
        </BODY>
        </HTML>
  recorded_at: Sat, 19 Apr 2014 10:00:22 GMT
recorded_with: VCR 2.9.0
