---
http_interactions:
- request:
    method: post
    uri: https://android.googleapis.com/gcm/send
    body:
      encoding: UTF-8
      string: '{"registration_ids":["devicetoken"],"collapse_key":"x","time_to_live":86400,"data":{"test":"test"}}'
    headers:
      Authorization:
      - key=apikey
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '{"multicast_id":7726000338213371155,"success":1,"failure":0,"canonical_ids":0,"results":[{"message_id":"0:1397767098298993%00525e0300000078"}]}'
  recorded_at: Thu, 17 Apr 2014 20:38:17 GMT
recorded_with: VCR 2.9.0
